# Some os that can be used. Yoink from https://hub.docker.com/u/geerlingguy/
# debian13
# debian12
# ubuntu2404
# ubuntu2204
# opensuseleap15
# fedora43
# rockylinux10
export MOLECULE_DISTRO=ubuntu2204