- name: Ensure /etc/audit/rules.d exists
  ansible.builtin.file:
    path: /etc/audit/rules.d
    state: directory
    mode: "0755"
    owner: root
    group: root

- name: Enable auditd syslog plugin
  ansible.builtin.lineinfile:
    dest: /etc/audit/plugins.d/syslog.conf
    regexp: ^active
    line: active = yes
    state: present
    mode: "0640"
    create: true

- name: Add auditd rules
  ansible.builtin.template:
    src: "hardening.rules.j2"
    dest: /etc/audit/rules.d/hardening.rules
    backup: true
    mode: "0600"
    owner: root
    group: root

- name: Restart auditd
  ansible.builtin.systemd_service:
    name: auditd.service
    state: restarted
  tags:
  - molecule-idempotence-notest
  when: ansible_facts.os_family == "Debian"

- name: Condrestart auditd
  command: service auditd condrestart
  when: ansible_facts.os_family == "RedHat"

- name: configure Debian auditd GRUB cmdline
  ansible.builtin.lineinfile:
    line: GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX audit=1 audit_backlog_limit=8192"
    regexp: "^GRUB_CMDLINE_LINUX="
    dest: /etc/default/grub.d/99-hardening-audit.cfg
    state: present
    create: true
    mode: "0640"
    owner: root
    group: root
  when: ansible_facts.os_family == "Debian"

# SELinux need to be stated, doing this should make the GRUB_CMDLINE to not get overwritten
- name: Ensure audit kernel parameters are present (RedHat)
  ansible.builtin.command:
    cmd: grubby --update-kernel=ALL --args="audit=1 audit_backlog_limit=8192"
  when: ansible_facts.os_family == "RedHat"
  tags:
  - molecule-idempotence-notest

- name: update GRUB (Debian)
  ansible.builtin.command:
    cmd: update-grub
  register: update_grub
  changed_when: update_grub.rc == 0
  when: ansible_facts.os_family == "Debian"

- name: update GRUB2 (RedHat)
  ansible.builtin.command:
    cmd: grub2-mkconfig -o /boot/grub2/grub.cfg
  register: update_grub
  changed_when: update_grub.rc == 0
  when: ansible_facts.os_family == "RedHat"
