# Setup, Installation etc
- name: Load vars based on distro
  include_vars: "{{ ansible_facts.os_family }}.yaml"

- name: Install packages based on distro
  include_tasks: "{{ ansible_facts.os_family }}-setup.yaml"

- name: Create a SSH Key for the current user
  include_tasks: ssh-key.yaml
  when: ansible_user != "root"

# SSH
- name: Setup SSH
  include_tasks: ssh-setup.yaml

# Automated Updates
- name: Setup unattended-upgrades
  include_tasks: unattended-upgrades.yaml
  when: not molecule_testing | default(false)

# UFW
- name: Setup UFW
  include_tasks: ufw.yaml

# Fail2ban
- name: Setup fail2ban
  include_tasks: fail2ban.yaml

# SELinux https://wiki.debian.org/SELinux/Setup, https://major.io/p/getting-started-with-selinux/, https://cycle.io/learn/selinux-basics
- name: Setup SELinux
  include_tasks: selinux.yaml

# systemd hardening
- name: systemd hardening
  include_tasks: systemd-hardening.yaml
