# Setup, Installation etc
- name: Setup for debian based server
  include_tasks: Debian-setup.yaml
  when: ansible_facts.os_family == 'Debian'

- name: Create a SSH Key for the current user
  ansible.builtin.include_tasks: ssh-key.yaml
  when: ansible_user != "root"

# SSH
- name: Setup SSH
  include_tasks: ssh-setup.yaml

# Automated Updates
- name: Setup unattended-upgrades
  include_tasks: unattended-upgrades.yaml
  when: not "{{ molecule_testing | default(false) }}"

# UFW
- name: Setup UFW
  include_tasks: ufw.yaml

# Fail2ban
- name: Setup fail2ban
  include_tasks: fail2ban.yaml

# SELinux https://wiki.debian.org/SELinux/Setup, https://major.io/p/getting-started-with-selinux/, https://cycle.io/learn/selinux-basics
- name: Setup SELinux
  include_tasks: selinux.yaml

# systemd hardening
- name: systemd hardening
  include_tasks:  systemd-hardening.yaml