- name: Enable & start acct service
  ansible.builtin.systemd:
    name: acct
    enabled: yes
    state: started
  when: ansible_facts.os_family == "Debian"
  tags:
  - molecule-idempotence-notest

- name: Enable & start acct service
  ansible.builtin.systemd:
    name: psacct
    enabled: yes
    state: started
  when: ansible_facts.os_family == "Redhat"
  tags:
  - molecule-idempotence-notest

- name: Enable sysstat data collection
  ansible.builtin.replace:
    path: /etc/default/sysstat
    regexp: 'ENABLED="false"'
    replace: 'ENABLED="true"'
  when: ansible_facts.os_family == "Debian"


- name: Enable & start sysstat service
  ansible.builtin.systemd:
    name: sysstat
    enabled: yes
    state: started
  tags:
  - molecule-idempotence-notest

- name: Enable & start freshclam
  ansible.builtin.systemd:
    name: clamav-freshclam
    enabled: yes
    state: started
  tags:
  - molecule-idempotence-notest

- name: Add issue and issue.net files
  become: true
  ansible.builtin.template:
    src: "issue.j2"
    dest: "{{ item }}"
    backup: true
    mode: "0644"
    owner: root
    group: root
  loop:
  - /etc/issue
  - /etc/issue.net
