- name: install epel-release
  ansible.builtin.dnf:
    name: epel-release
    state: present
  when: ansible_distribution != "Fedora"

- name: dnf update cache
  ansible.builtin.dnf:
    update_cache: yes

- name: full system upgrade
  ansible.builtin.dnf:
    name: "*"
    state: latest

- name: install all the packages needed using dnf
  ansible.builtin.dnf:
    name: "{{ package_needed }}"
    state: present

- name: remove compilers (gcc, make)
  ansible.builtin.dnf:
    name: "{{ package_to_remove }}"
    state: absent
