- name: Install SELinux packages
  ansible.builtin.dnf:
    name: "{{ selinux_package }}"
    state: present

- name: Ensure SELinux config is set
  ansible.posix.selinux:
    policy: "{{ selinux_policy }}"
    state: "{{ selinux_state }}"
  register: selinux_config

- name: Ensure httpd can connect to the network
  ansible.posix.seboolean:
    name: httpd_can_network_connect
    state: "{{ selinux_httpd_can_network_connect | ternary('on', 'off') }}"
    persistent: true
  when:
  - ansible_selinux is defined
  - ansible_selinux.status == "enabled"

- name: Reboot if SELinux state change requires it
  ansible.builtin.reboot:
  when: selinux_config.reboot_required
  tags:
  - molecule-notest
