# First of all, i aint hardening what is not needed to be harden, some like lynis need to be let go, because they are audit tools. The main one is gonna be the public facing one, for now SSH and fail2ban 
# This thing is meant to be used more for services like apache, caddy, mailserver etc
# Im just playing it safe, feel free to add more. 
# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html
# https://news.ycombinator.com/item?id=44928504
# https://github.com/desbma/shh
# https://documentation.suse.com/smart/security/html/systemd-securing/index.html
# https://roguesecurity.dev/blog/systemd-hardening
# https://github.com/alegrey91/systemd-service-hardening

- name: Create <service>.service.d directory
  ansible.builtin.file:
    path: /etc/systemd/system/{{ item }}.d/
    state: directory
    owner: root
    group: root
    mode: 755
  loop: "{{ systemd_hardening }}"

- name: Copy <service>.service config
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/systemd/system/{{ item }}.d/override.conf
    owner: root
    group: root
    mode: 644
  loop: "{{ systemd_hardening }}"
  notify: Reload systemd

- name: Restart services
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: restarted
  tags:
  - molecule-idempotence-notest
  loop: "{{ systemd_hardening }}"

- name: Configure systemd system.conf
  become: true
  ansible.builtin.template:
    src: "system.conf.j2"
    dest: /etc/systemd/system.conf
    backup: true
    mode: "0644"
    owner: root
    group: root
  notify:
    - Reload systemd

- name: Configure systemd user.conf
  become: true
  ansible.builtin.template:
    src: "user.conf.j2"
    dest: /etc/systemd/user.conf
    backup: true
    mode: "0644"
    owner: root
    group: root
  notify:
    - Reload systemd