- name: Configure open ports with UFW
  community.general.ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
  - { rule: 'allow', port: "{{ new_ssh_port }}", proto: 'tcp' } # SSH
  - { rule: 'allow', port: 80, proto: 'tcp' } # HTTP
  - { rule: 'allow', port: 443, proto: 'tcp' } # HTTPS
  - { rule: 'allow', port: 123, proto: 'udp' } # NTP
  - { rule: 'deny', port: 22, proto: 'tcp' } # Old SSH Port
  tags:
  - molecule-idempotence-notest

- name: Configure default incoming/outgoing rules with UFW
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
    state: enabled
  loop:
  - { direction: outgoing, policy: allow }
  - { direction: incoming, policy: deny }

- name: Update ansible_port for this host
  ansible.builtin.set_fact:
    ansible_port: "{{ new_ssh_port }}"

- name: Reconnect to host with new port
  ansible.builtin.meta: reset_connection

